
<body style="background-color: #19acdd;">
    <div class="hometxt">
        <p>Cuidando do seu sorriso para que você possa sorrir sem medo!</p>
        <a href="/cadastrar" style="text-decoration: none; color: #ffffff;"><button class="btnhome">Agende sua consulta</button></a>
    <body>

    <img class="img-home" src="img/dentista.jpeg" alt="Dentista atendendo paciente">
</body>
        