<body>
    <header class="header">
        <a href="/" class="logo">Logo</a>

        <nav class="navbar">
            <a href="/cadastrar">Agendar</a>
            <a href="/consultar">Agendamentos</a>
        </nav>
    </header>
</body>